<p>Dear All,</p>

<p>The Timesheet Portal will be freeze by EOD, to submit the time logs for previous month.There is discrepancy seen in the expected hours and hours logged by you.</p>

<p>Request you to kindly fill it for the whole month and cover the gap.</p>

<br>

<p>Thank you,<br>
Nitor Timesheet Portal</p>
<br>
<br>
<br>
<p><small><b>Note: </b>This email is system generated.</small></p>
