<p>Dear <%= @user%>,</p>

<p>Kindly complete your Timesheet till date.</p>

<p>If you have already completed please ignore this mail.</p>
  
<br>

<p>Thank you,<br>
Nitor Timesheet Portal</p>
<br>
<br>
<br>
<p><small><b>Note: </b>This email is system generated.</small></p>
