<p>Dear All,</p>
<p>Please submit all timesheets to avoid your salary payment from being held off.</p>
<p>In case of any query or concern, please contact your Manager.</p>
<br>
<p>Thank you,<br>
Nitor Timesheet Portal</p>
<br>
<br>
<br>
<p><small><b>Note: </b>This email is system generated.</small></p>

